.all-container{
  display: flex;
  flex-direction: column;
}

.all-container .bottom-section{
  display: flex;
}

/* Music Player */
.container-music-player{
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 600px;
  width: 1000px;
  background-color: rgba(245, 244, 244, 0.7);
  border-radius: 24px;
  overflow: hidden;
}

.container-music-player .music-space{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 65%;
  padding: 20px;
  margin-top: 30px;
}
.container-music-player .music-space .song-name{
  font-size: 2rem;
}
.container-music-player .music-space .artis{
  font-size: 1rem;
}
.container-music-player .music-space img{
  margin-top: 20px;
  height: 300px;
  width: 300px;
  border-radius: 24px;

}
.function{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.control-button .loop,
.control-button .backward,
.control-button .forward,
.control-button .play,
.control-button .suffer  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(236, 58, 58, 0.97);
  box-shadow: 0 5px 5px rgba(24, 14, 14, 0.22);
  cursor: pointer;
}

.control-button .play{
  height: 65px;
  width: 65px;
}

.control-button div:hover{
  opacity: 0.7;
}

.control-button .volume-change{
  display: flex;
  align-items: center;
  position: absolute;
  width: 278px;
  height: 65px;
  right: -100px;
  top: 230px;
  transform: rotate(-90deg);
}
.control-button .volume-change:hover{
  opacity: 1;
}

.control-button .volume-change input{
  width: 200px;
  height: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.control-button .volume-change input::-moz-range-progress{
  background: orangered;
}

.control-button .volume-change input::-moz-range-thumb {
  appearance: none;
  background: orangered;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
}

.control-button .volume-change .volume-icon{
  transform: rotate(90deg);
}

.control-button .volume-change .volume-number{
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: bolder;
}
.volume-change .volume-number-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.volume-change .volume-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

/* Thay đổi thanh slider */
#progress{
  width: 300px;
  height: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#progress::-moz-range-progress{
  background: red;
}

#progress::-webkit-scrollbar {
  display: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* con trỏ di thanh slider */
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 7px solid white;
  box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
}

#progress::-moz-range-thumb {
  appearance: none;
  background: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 7px solid white;
  box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
}
.progress-bar{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar p{
  margin: 0 20px;
}

.dropdown-button{
  position: absolute;
  top: 0;
  left: 40px;
}

.dropdown-button .button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(236, 234, 234);
}

.dropdown-button .menu{
  position: relative;
  list-style-type: none;
  align-items: flex-start;
  border-radius: 5px;
  margin-top: 10px ;
  background-color: #fff;
  display: none;
}

.dropdown-button:hover{
  cursor: pointer;
}

.dropdown-button:hover .menu{
  display: block;
}

.dropdown-button .menu li{
  padding-left: 10px;
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
}

.dropdown-button .menu li:hover{
  cursor: pointer;
  background-color: rgb(227, 238, 238);
}

.dropdown-button .menu li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-button .menu li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-button .menu p{
  padding-left: 5px;
}

.dropdown-button .menu:before{
  content: "";
  position: absolute;
  top: -5px;
  left: 15px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
}

.container-music-player .playlist-space{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 35%;
  background-color: rgba(200, 214, 214, 0.29);
  position: relative;
}


/* for choose*/
.song-element-choose{
  display: flex;
  width: 280px;
  margin: 10px;
  cursor: pointer;
  box-sizing: content-box;
  padding: 10px 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
  transition: all .3s ease;
}

.playlist-space .song-element-choose img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.playlist-space .song-element-choose .text-content{
  margin-left: 10px;
}

.playlist-space .song-element-choose .song-name{
  font-size: 1rem;
  font-weight: bold;
}
.playlist-space .song-element-choose .artis{
  font-size: 0.7rem;
}

/* for not choose*/

.playlist-space .song-element{
  display: flex;
  width: 280px;
  margin: 10px;
  cursor: pointer;
  box-sizing: content-box;
}

.song-element:hover{
  padding: 10px 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(255 ,26,26 ,0.22);
  transition: all .3s ease;
}

.playlist-space .song-element img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.playlist-space .song-element .text-content{
  margin-left: 10px;
}

.playlist-space .song-element .song-name{
  font-size: 1rem;
  font-weight: bold;
}
.playlist-space .song-element .artis{
  font-size: 0.7rem;
}
.playlist-space .search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.playlist-space .music-list{
  margin-top: 10px;
  overflow: auto;
  scrollbar-width: none;
}

.playlist-space .search #search-input{
  height: 25px;
  border-radius: 20px;
  background-color: rgba(255, 246, 246, 0.76);
  width: 250px;
  box-shadow: 0 5px 5px rgba(59, 40, 40, 0.22);
  padding-left: 10px;
  border: transparent;
}
#search-input:focus{
  outline: none;
}
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position : absolute;
  right: 0px;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: 0 5px 5px rgba(59, 40, 40, 0.22);
}

/* Weather Forecast */

.container-weather-forecast{
  display: flex;
  height: 600px;
  width: 350px;
  background-color: rgba(245, 244, 244, 0.7);
  border-radius: 24px;
  margin-right: 50px;
}

.all-container .top-section{
  margin-bottom: 50px;
}

.container-crypto-stock{
  display: flex;
  align-items: center;
  width: 1400px;
  height: 180px;
  background-color: rgba(245, 244, 244, 0.7);
  border-radius: 24px;
  padding: 0 25px;
}

.container-crypto-stock .clock{
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  border-radius: 10px;
}

.container-crypto-stock .clock .date{
  display: flex;
  width: 275px;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.container-crypto-stock .clock .date div{
  font-weight: 600;
  font-size: 1.2rem;
}

.container-crypto-stock .clock .time-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-crypto-stock .clock .number-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #F2F7FFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.container-crypto-stock .clock .number-container .number{
  font-size: 2rem;
}

.container-crypto-stock .clock .number-container .number-tag{
  font-size: 0.8rem;
}

.container-crypto-stock .clock .time-container > p{
  padding:5px;
  font-size: 2rem;
  font-weight: 700;
}

.container-crypto-stock .coin-display{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-crypto-stock .coin-display .coin-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 100px;
  margin-top: 10px;
  background-color: #F2F7FFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.container-crypto-stock .coin-display .coin-container .info{
  color: wheat;
}

.container-crypto-stock .coin-display .coin-container .info p:first-child{
  font-size: 1.2rem;
  font-weight: bold;
}

.container-crypto-stock .price-display{
  flex-direction: column;
  margin-left:100px;
  width: 890px;
}

.container-crypto-stock .price-display .add-and-clear{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.container-crypto-stock .price-display .add-and-clear input{
  height: 22px;
  border-radius: 20px;
  background-color: rgba(255, 246, 246, 0.76);
  width: 250px;
  box-shadow: 0 5px 5px rgba(59, 40, 40, 0.22);
  padding-left: 10px;
  border: transparent;
}

.container-crypto-stock .price-display .add-and-clear input:focus{
  outline: none;
}

.container-crypto-stock .price-display .add-and-clear .clear{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.container-crypto-stock .price-display .add-and-clear .clear:hover{
  cursor: pointer;
}