*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('./MusicPlayer/material/peakpx.jpg'); /* Ảnh background*/
  background-size: cover;
  color: black;
}